.env
venv/
env/
secret_key.txt
sec.py
pagekite.py
Procfile
.DS_Store

**/__pycache__

baatcheet/.DS_Store/


# Elastic Beanstalk Files
.ebextension/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
baatcheet/database.db
baatcheet/db.sqlite3
