{% extends "main.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class="auth layout">

 
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Password Reset Done</h3>
          </div>
        </div>
        <div class="layout__body">
          <h2 class="auth__tagline">BaatCheet - Topics That Matter</h2>
  
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="form__group form__group" id ='email' style='display: block;'>

    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
   
</div>
    {% endblock %}
